<html>
  <head>
    <style>
    .center {
      margin: auto;
      width: 39%;
      border: 3px solid #73AD21;
      padding: 10px;
    }
    </style>
    <title> added user   </title>
  </head>
  <body>
    <h1>added user</h1>
    <div class="center">

        <form action="/newuser" method='POST'>
    Name:<br>
    <input name = "Name" type="text" name="Name" ><br>
    Email:<br>
    <input type="text" name="Email" value=><br><br>
    <input type="submit" value="Submit">
    </form>

    <form  method="POST" action="/user">
    <button type="submit" name="addUser" value="ON" style="height:70px;width:200px" />
      </form>
    </div>

  </body>
</html>