/*https://codepen.io/SkyHyzer/pen/ENbYxO?q=%20tooltip&order=popularity&depth=everything&show_forks=false*/
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
  @import url("https://fonts.googleapis.com/css?family=Pacifico");

  .box {
    float: left;
    width: 40%;
    margin-left: 4px;
    margin-top: 4px;
    padding: 5px;
  }
  
   .boxFix {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    padding: 20px;
  }

  img.imgs:hover {
  opacity:0.7 !important;
  filter:alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
  }
  
div[class^="col"] {
  margin-bottom: 25px;
}

[data-tooltip] {
  cursor: pointer;
  position: relative;
}
[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s cubic-bezier(0.5, 1, 0.25, 1);
  z-index: 1;
}
[data-tooltip]:before {
  padding: 5px;
  width: 110px;
  border-radius: 3px;
  background: rgb(80, 80, 80);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
}
[data-tooltip]:after {
  border: 8px solid transparent;
  width: 0;
  content: "";
  font-size: 0;
  line-height: 0;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-tooltip].t-left:before {
  top: 50%;
  right: 100%;
  margin-right: 5px;
  transform: translateY(-50%);
}
[data-tooltip].t-left:after {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-left: 8px solid rgb(80, 80, 80);
  border-right: none;
}
[data-tooltip].t-left:hover:before, [data-tooltip].t-left:hover:after {
  transform: translateX(-5px) translateY(-50%);
}
