<!DOCTYPE html>
<html>
<head>
	<!-- Material Walkthrough styles -->
	<link rel="stylesheet" href="material-walkthrough/dist/material-walkthrough.min.css">

	<title></title>
</head>
<body onload="load();">

	<a id="step1">Try it Now!</a>

	<!-- JQuery 3.1 minified -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<!-- Material Walkthrough plugin -->
	<script src="material-walkthrough/dist/material-walkthrough.min.js"></script>
	<script type="text/javascript">
		function load() {
			$.walk([
			{
   			 target: '#step1', // Your target
    		 content: '<h1>Press Capture to capture the displayed image</h1>', // Hey, it supports HTML codes too!
    		 color: '#f52c2ccf', // Can be any CSS color, rgb or hex.
    		 acceptText: 'OK'
			}
			]);
		}
	</script>
</body>
</html>