<html>
  <head>
    <style>
    .center {
      margin: auto;
      width: 39%;
      border: 3px solid #73AD21;
      padding: 10px;
    }
    </style>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <div class="center">
    <img id="bg" src="{{ url_for('video_feed') }}" height="400" width="550" align="middle">
    <form  method="POST" action="/user">
    <button type="submit" name="addUser" value="ON" style="height:70px;width:200px" />
      </form>
    </div>

  </body>
</html>