<html>
  <head>
       <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> added user   </title>
  </head>
  <body>
    <h1>added user</h1>
    <div class="center">

        <form action="/newuser" method='POST'>
    Name:<br>
    <input name = "Name" type="text" name="Name" ><br>
    Email:<br>
    <input type="text" name="Email" value=><br><br>
    <input type="submit" value="Submit">
    </form>

    </div>

  </body>
</html>