<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Video Streaming Demonstration</title>

</head>
<body>
<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-1" ></div>
  <div class="container"><div class="col-md-3" style="padding-left: 100px;  padding-right: 0px;">

      <div class=".text-center">
      <h1>{{ Name }} </h1>
          </div>
      </div>
  </div>
    <div class="col-md-2" ></div>
    <div class="col-md-3"></div>

</div>

<div class="row">
  <div class="col-lg-3"></div>
  <div class="container"><div class="col-lg-6" style="padding-left: 0px;  padding-right: 0px;">
        <img src="{{ url_for('static', filename = Image ) }}" class="img-responsive" alt="Submit">
  </div>
      </div>
    <div class="col-lg-3"> </div>

</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
         <h2>Email: {{ Email }} </h2>
  </div>
    <div class="col-md-3"></div>

</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <form action="/deleteuser">
         <input type="submit" class="btn btn-primary btn-block">Delete User </input>
       </form>
  </div>
    <div class="col-md-3"></div>

</div>

</body>
</html>